$clr: #ffffff;
body {
  background-color: $clr;
  padding: 0;
  margin: 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .btn {
      padding: 10px;
      border-radius: 5px;
      color: black;
      background-color: white;
      border: 2px solid black;
      cursor: pointer; 
    }
  }
}